body {
	font-family: "Montserrat";
}

.bg-dark {
	background-color: #404040 !important;
}

.navbar {
	padding: 30px;
}

.navbar-expand-md .navbar-nav .nav-link {
	padding: 0 25px;
	font-size: 1.125rem;
}

.hero {
	padding: 175px 0 !important;
	background: url("./assets/img/hero.jpg") center / cover no-repeat;
}

.btn {
	border-radius: 30px;
	padding: 20px 55px;
	background-color: #0775be;
	font-size: 1rem;
}

.arenas,
.benefits {
	padding: 80px 0;
}

.arenas .row,
.benefits .row {
	margin: 80px 0;
}

.card {
	border-radius: 30px;
	max-width: 330px;
	min-height: 410px;
}

.card h6 {
	margin-bottom: 20px;
}

.card-img-top {
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	width: 100%;
	height: 215px;
}

.card-body {
	padding: 30px 30px 50px;
}

.card-icon {
	margin-top: 50px;
}

.about {
	padding: 80px 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.about.row {
	align-items: center;
}

.footer {
	padding: 25px 0;
}

.nav {
	gap: 50px;
}
