:root {
	--black: #070707;
	--white: #fcfcfc;
	--gray: #404040;
	--accent: #0775be;
}

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

.container {
	margin: 0 auto;
	max-width: 1370px;
}

body {
	font-family: "Montserrat";
	font-weight: 400;
	font-size: 16px;
}

/* HEADER */

.header {
	padding: 30px 0;
	background-color: var(--gray);
}

.header__container {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* NAV */

.nav__list {
	display: flex;
	gap: 50px;
	list-style-type: none;
}

.nav__link {
	text-decoration: none;
	color: var(--white);
	font-weight: 700;
	font-size: 18px;
}

/* HERO */

.hero {
	padding: 175px 0;
	background: url("./assets/img/hero.jpg") center / cover no-repeat;
}

.hero__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero__title {
	font-weight: 700;
	font-size: 40px;
	color: var(--white);
	text-transform: uppercase;
}

.hero__text {
	margin-top: 35px;
	font-weight: 700;
	font-size: 18px;
	color: var(--white);
	text-transform: uppercase;
}

.hero__btn {
	margin-top: 30px;
}

/* BTN */

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 55px;
	background-color: var(--accent);
	color: var(--white);
	font-weight: 700;
	border-radius: 30px;
	text-decoration: none;
}

/* ARENAS */

.arenas {
	padding: 80px 0;
	background-color: var(--white);
}

.arenas__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.arenas__title {
	font-weight: 700;
	font-size: 35px;
}

.arenas__cards {
	margin-top: 80px;
}

.arenas__btn {
	margin-top: 80px;
	padding: 20px 30px;
}

.arenas__cards .cards__item {
	height: 400px;
}

/* CARDS */

.cards {
	display: flex;
	gap: 190px;
}

.cards__item {
	padding: 0 30px 50px;
	width: 330px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 30px;
	box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.25);
}

.cards__img {
	width: 330px;
	height: 215px;
}

.cards__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}

.cards__title {
	margin-top: 30px;
	width: 215px;
	font-weight: 700;
	font-size: 14px;
	text-align: center;
}

.cards__text {
	margin-top: 20px;
	font-size: 14px;
}

/* ABOUT */

.about {
	padding: 80px 0;
	background-color: var(--white);
	border-top: 1px solid var(--black);
	border-bottom: 1px solid var(--black);
}

.about__container {
	display: flex;
	align-items: center;
	gap: 230px;
}

.about__img {
	width: 750px;
	height: 750px;
}

.about__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.about__content {
	width: 710px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 40px;
}

.about__title {
	font-weight: 700;
	font-size: 35px;
}

.about__subtitle {
	font-weight: 700;
	font-size: 20px;
}

.about__info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
}

.about__list {
	margin-left: 25px;
}

.about__btn {
	margin-top: 20px;
	padding: 20px 70px;
}

/* BENEFITS */

.benefits {
	padding: 80px 0;
	background-color: var(--white);
}

.benefits__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.benefits__title {
	font-weight: 700;
	font-size: 35px;
}

.benefits__cards {
	margin-top: 80px;
}

.benefits__cards .cards__item {
	height: 325px;
}

.cards__icon {
	margin-top: 50px;
}

/* FOOTER */

.footer {
	padding: 25px 0;
	background-color: var(--gray);
}

.footer__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.footer__copy {
	width: 165px;
	text-align: center;
	color: var(--white);
	font-weight: 700;
	font-size: 14px;
}

.footer__nav .nav__link {
	font-size: 14px;
}
